/* imported links */
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@layer utilities {
  .font-garamond {
    font-family: "EB Garamond", serif;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
  .font-bitcount {
    font-family: "Bitcount Prop Single", system-ui;
  }
}
.section-container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}
:root {
  --primary-color: #b68c5a;
  --secondary-color: #e7e7e7;
  --primary-bg: #f3f3f3;
  --gray: #707070;
  --gray-light: #f3f3f3;
  --gray-bold: #414040;
}

.primary-title {
  margin-top: 0.5rem;
  color: var(--gray-bold);
  font-family: "EB Garamond", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}
.primary-description {
  margin: auto;
  max-width: 700px;
  margin-top: 1rem;
  color: var(--gray);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.primary-btn {
  display: inline-block;
  color: #fff;
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
}
/* navbar  */
.link-item {
  color: var(--gray);
}
.fa-solid {
  font-size: 14px;
  margin-left: 0.5rem;
}
.link-item:hover {
  color: var(--primary-color);
  transition: color 0.3s;
}
/* header */
.banner {
  position: relative;
  max-height: 550px;
  background-image: url(./images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
}
.banner-shadow {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.banner-shadow > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.banner-content {
  position: relative;
  z-index: 1;
}
/* legal practice section */
.legal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 4rem;
  border: 1px solid var(--secondary-color);
  transition: all 0.3s ease-out;
  gap: 1rem;
}
.legal-card .legal-card-heading {
  margin-top: 1.8rem;
  color: var(--gray-bold);
  font-family: "EB Garamond", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.legal-card .legal-card-description {
  margin-top: 1.5rem;
  color: var(--gray);
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.right-arrow {
  margin-top: 32px;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  color: #fff;
  background: var(--primary-color);
  border-radius: 50%;
}
.fa-arrow-right {
  margin: 0;
}
.legal-card:hover {
  background: #e7e7e732;
  border: 1px solid transparent;
}
.card-1,
.card-2,
.card-3 {
  border-top: 1px solid transparent;
}
.card-4,
.card-5,
.card-6 {
  border-bottom: 1px solid transparent;
}
.card-3,
.card-6 {
  border-right: 1px solid transparent;
}
.card-1,
.card-4 {
  border-left: 1px solid transparent;
}
/*  clients section*/
.client-items {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
}
.client {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(./images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 1rem;
  overflow: hidden;
}
.client-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.client-shadow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.client-content {
  position: relative;
  z-index: 1;
}

.client-1 {
  grid-row: span 2;
}
.client-2 {
  grid-column: span 2;
}
.client-3 {
  grid-column-start: 3;
  grid-row: 2 / span 2;
}
.client-4 {
  grid-column-start: 2;
  grid-row-start: 2;
}
.client-5 {
  grid-column: 1 / span 2;
  grid-row-start: 3;
}
/* contact section */
.contact-detail-item {
  border: var(--secondary-color) 1px solid;
}
/* contact form */
form > .form-input,
textarea {
  width: 100%;
  height: 5.5rem;
  background: var(--primary-bg);
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 8px;
}
form textarea {
  height: 14rem;
  resize: none;
}
form > .form-input::placeholder,
form > textarea::placeholder {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  color: var(--gray);
}

/* footer */
.footer-links-title,
.footer-contact-title,
.footer-subscribe-title,
.footer-logo {
  margin-bottom: 2rem;
}
.footer-logo-description,
.footer-link-item,
.footer-contact p,
.footer-subscribe-description {
  font-family: "poppins", sans-serif;
  color: #cfcfcf;
}

.footer-links-title,
.footer-contact-title,
.footer-subscribe-title {
  font-family: "EB Garamond", sans-serif;
  font-size: 24px;
  font-weight: 800;
}
.footer-links ul li {
  margin-top: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 640px) {
  .legal-card {
    border: 1px solid var(--secondary-color);
  }
  .client-items {
    grid-template-columns: 1fr;
  }
  .client-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .client-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .client-3 {
    grid-column: 1;
    grid-row: 3;
  }
  .client-4 {
    grid-column: 1;
    grid-row: 4;
  }
  .client-5 {
    grid-column: 1;
    grid-row: 5;
  }
  .footer-links-title,
  .footer-contact-title,
  .footer-subscribe-title,
  .footer-logo {
    margin-bottom: 1rem;
  }
  .footer-subscribe-title {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  .footer-links-title,
  .footer-contact-title,
  .footer-subscribe-title,
  .footer-logo {
    margin-bottom: 1rem;
  }
  .footer-subscribe-title {
    margin-bottom: 0;
  }
  .legal-card {
    border: 1px solid var(--secondary-color);
  }
  .card-1,
  .card-3,
  .card-5 {
    border-left: 1px solid transparent;
  }
  .card-2,
  .card-4,
  .card-6 {
    border-right: 1px solid transparent;
  }
  .card-1,
  .card-2 {
    border-top: 1px solid transparent;
  }
  .card-5,
  .card-6 {
    border-bottom: 1px solid transparent;
  }
  /* client section */
  .client-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .client-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .client-2 {
    grid-column-start: 2;
  }
  .client-3 {
    grid-column-start: 1;
    grid-row: 2;
  }
}
